.big{
    margin-top: 2%;
    border-style: solid;
    border-color: red;
    border-width: 4px;
    width: 100%;
    padding-bottom: 4%;
}
.box_a{
    margin-top: 3%;
    border-style: solid;
    width: 96%;
    margin-left: 1.5%;
    border-color: red;
    border-width: 4px;
}
.box_b{
    margin-top: 3%;
    width: 96%;
    margin-left: 1.5%;
    border-style: solid;
    border-color: red;
    border-width: 4px;
}
.box_c{
    margin-top: 3%;
    border-style: solid;
    width: 96%;
    margin-left: 1.5%;
    border-color: red;
    border-width: 4px;
}
.box_c .a{
    margin-top: 2%;
    border-style: solid;
    border-color: red;
    border-width: 4px;
    padding-top: 0%;
    line-height: 3;
    width: 98%;
    margin-left: 4px;
    margin-top: 28px;
    margin-bottom: 26px;
}
.btna{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    width: 7%;
    padding-left: 0%;
    text-align: center;
    margin-left: 60px;
    margin-top: -36px;
    padding-top: 3px;
    height: 24px;
    background-color: rgb(177, 175, 175);
}
.btnb{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    width: 3%;
    text-align: center;
    margin-left: 14%;
    margin-top: -37px;
    padding-top: 3px;
    height: 24px;
}